# Posttest 4

### import library

In [206]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

### membaca file csv

In [207]:
film = pd.read_csv('movies.csv')

### menampilkan data

In [208]:
film.head() #lima data teratas

,title,year,runtime,certificate,genre,director,stars,rating,metascore,votes,gross
0,The Shawshank Redemption,1994,142,R,Drama,"['Frank Darabont', 'Tim Robbins', 'Morgan Free...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",9.3,82.0,2780534,28.34
1,The Godfather,1972,175,R,"Crime, Drama","['Francis Ford Coppola', 'Marlon Brando', 'Al ...","['Marlon Brando', 'Al Pacino', 'James Caan', '...",9.2,100.0,1935895,134.97
2,Ramayana: The Legend of Prince Rama,1993,135,PG,"Animation, Action, Adventure","['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski', 'Ar...","['Yûgô Sakô', 'Koichi Saski', 'Arun Govil', 'N...",9.2,NaN,12470,NaN
3,The Chaos Class,1975,87,NaN,"Comedy, Drama","['Ertem Egilmez', 'Kemal Sunal', 'Münir Özkul'...","['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...",9.2,NaN,42018,NaN
4,Daman,2022,121,NaN,"Adventure, Drama","['Lenka Debiprasad', 'Vishal Mourya', 'Karan K...","['Vishal Mourya', 'Karan Kandhapan', 'Babushan...",9.1,NaN,13372,NaN

In [209]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9849 entries, 0 to 9848
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9849 non-null   object
 1   year         9849 non-null   object
 2   runtime      9849 non-null   int64
 3   certificate  9493 non-null   object
 4   genre        9849 non-null   object
 5   director     9849 non-null   object
 6   stars        9849 non-null   object
 7   rating       9849 non-null   float64
 8   metascore    7876 non-null   float64
 9   votes        9849 non-null   int64
 10  gross        7015 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 846.5+ KB

## Data Split

### membagi data

Bagi dataset menjadi training set dan testing set dengan proporsi 70:30.

In [210]:
from sklearn.model_selection import train_test_split #import library data split

In [211]:
x = film.drop (columns = 'certificate')
x

,title,year,runtime,genre,director,stars,rating,metascore,votes,gross
0,The Shawshank Redemption,1994,142,Drama,"['Frank Darabont', 'Tim Robbins', 'Morgan Free...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",9.3,82.0,2780534,28.34
1,The Godfather,1972,175,"Crime, Drama","['Francis Ford Coppola', 'Marlon Brando', 'Al ...","['Marlon Brando', 'Al Pacino', 'James Caan', '...",9.2,100.0,1935895,134.97
2,Ramayana: The Legend of Prince Rama,1993,135,"Animation, Action, Adventure","['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski', 'Ar...","['Yûgô Sakô', 'Koichi Saski', 'Arun Govil', 'N...",9.2,NaN,12470,NaN
3,The Chaos Class,1975,87,"Comedy, Drama","['Ertem Egilmez', 'Kemal Sunal', 'Münir Özkul'...","['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...",9.2,NaN,42018,NaN
4,Daman,2022,121,"Adventure, Drama","['Lenka Debiprasad', 'Vishal Mourya', 'Karan K...","['Vishal Mourya', 'Karan Kandhapan', 'Babushan...",9.1,NaN,13372,NaN
...,...,...,...,...,...,...,...,...,...,...
9844,Welcome to the Jungle,I) (2013,95,"Action, Adventure, Comedy","['Rob Meltzer', 'Jean-Claude Van Damme', 'Adam...","['Jean-Claude Van Damme', 'Adam Brody', 'Rob H...",4.9,25.0,13770,NaN
9845,Boat Trip,2002,94,Comedy,"['Mort Nathan', 'Cuba Gooding Jr.', 'Horatio S...","['Cuba Gooding Jr.', 'Horatio Sanz', 'Roselyn ...",4.9,18.0,31972,8.59
9846,Did You Hear About the Morgans?,2009,103,"Comedy, Drama, Romance","['Marc Lawrence', 'Hugh Grant', 'Sarah Jessica...","['Hugh Grant', 'Sarah Jessica Parker', 'Sam El...",4.9,27.0,41830,29.58
9847,The Crow: Salvation,2000,102,"Action, Crime, Fantasy","['Bharat Nalluri', 'Kirsten Dunst', 'William A...","['Kirsten Dunst', 'William Atherton', 'Debbie ...",4.9,NaN,11938,NaN
9848,Temptation: Confessions of a Marriage Counselor,2013,111,Drama,"['Tyler Perry', 'Jurnee Smollett', 'Vanessa Wi...","['Jurnee Smollett', 'Vanessa Williams', 'Brand...",4.9,26.0,12278,51.98

In [212]:
y = film['certificate']
y

0               R
1               R
2              PG
3             NaN
4             NaN
          ...
9844    Not Rated
9845            R
9846        PG-13
9847            R
9848        PG-13
Name: certificate, Length: 9849, dtype: object

In [213]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, train_size = 0.7)

In [214]:
print('Ukuran x train : ', x_train.shape)
print('Ukuran x test : ', x_test.shape)
print('Ukuran y train : ', y_train.shape)
print('Ukuran y test : ', y_test.shape)

Ukuran x train :  (6894, 10)
Ukuran x test :  (2955, 10)
Ukuran y train :  (6894,)
Ukuran y test :  (2955,)

In [215]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9849 entries, 0 to 9848
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9849 non-null   object
 1   year         9849 non-null   object
 2   runtime      9849 non-null   int64
 3   certificate  9493 non-null   object
 4   genre        9849 non-null   object
 5   director     9849 non-null   object
 6   stars        9849 non-null   object
 7   rating       9849 non-null   float64
 8   metascore    7876 non-null   float64
 9   votes        9849 non-null   int64
 10  gross        7015 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 846.5+ KB

## Data Transform

### normalisasi data

Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu).

In [216]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler # import library

In [217]:
fc = film.copy() #copy file csv
fc

,title,year,runtime,certificate,genre,director,stars,rating,metascore,votes,gross
0,The Shawshank Redemption,1994,142,R,Drama,"['Frank Darabont', 'Tim Robbins', 'Morgan Free...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",9.3,82.0,2780534,28.34
1,The Godfather,1972,175,R,"Crime, Drama","['Francis Ford Coppola', 'Marlon Brando', 'Al ...","['Marlon Brando', 'Al Pacino', 'James Caan', '...",9.2,100.0,1935895,134.97
2,Ramayana: The Legend of Prince Rama,1993,135,PG,"Animation, Action, Adventure","['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski', 'Ar...","['Yûgô Sakô', 'Koichi Saski', 'Arun Govil', 'N...",9.2,NaN,12470,NaN
3,The Chaos Class,1975,87,NaN,"Comedy, Drama","['Ertem Egilmez', 'Kemal Sunal', 'Münir Özkul'...","['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...",9.2,NaN,42018,NaN
4,Daman,2022,121,NaN,"Adventure, Drama","['Lenka Debiprasad', 'Vishal Mourya', 'Karan K...","['Vishal Mourya', 'Karan Kandhapan', 'Babushan...",9.1,NaN,13372,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9844,Welcome to the Jungle,I) (2013,95,Not Rated,"Action, Adventure, Comedy","['Rob Meltzer', 'Jean-Claude Van Damme', 'Adam...","['Jean-Claude Van Damme', 'Adam Brody', 'Rob H...",4.9,25.0,13770,NaN
9845,Boat Trip,2002,94,R,Comedy,"['Mort Nathan', 'Cuba Gooding Jr.', 'Horatio S...","['Cuba Gooding Jr.', 'Horatio Sanz', 'Roselyn ...",4.9,18.0,31972,8.59
9846,Did You Hear About the Morgans?,2009,103,PG-13,"Comedy, Drama, Romance","['Marc Lawrence', 'Hugh Grant', 'Sarah Jessica...","['Hugh Grant', 'Sarah Jessica Parker', 'Sam El...",4.9,27.0,41830,29.58
9847,The Crow: Salvation,2000,102,R,"Action, Crime, Fantasy","['Bharat Nalluri', 'Kirsten Dunst', 'William A...","['Kirsten Dunst', 'William Atherton', 'Debbie ...",4.9,NaN,11938,NaN
9848,Temptation: Confessions of a Marriage Counselor,2013,111,PG-13,Drama,"['Tyler Perry', 'Jurnee Smollett', 'Vanessa Wi...","['Jurnee Smollett', 'Vanessa Williams', 'Brand...",4.9,26.0,12278,51.98

In [218]:
mm = MinMaxScaler() #membuat variable untuk min max scaler
mima = mm.fit_transform(fc[['rating']])
mima

array([[1.        ],
       [0.97727273],
       [0.97727273],
       ...,
       [0.        ],
       [0.        ],
       [0.        ]])

In [219]:
print ('Nilai Minimal : ', mima.min()) #nilai min

Nilai Minimal :  0.0

In [220]:
print ('Nilai Maksimal : ', mima.max()) #nilai max

Nilai Maksimal :  1.0

### standarisasi data

Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [221]:
fc2 = film.copy() #copy file csv
fc2

,title,year,runtime,certificate,genre,director,stars,rating,metascore,votes,gross
0,The Shawshank Redemption,1994,142,R,Drama,"['Frank Darabont', 'Tim Robbins', 'Morgan Free...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",9.3,82.0,2780534,28.34
1,The Godfather,1972,175,R,"Crime, Drama","['Francis Ford Coppola', 'Marlon Brando', 'Al ...","['Marlon Brando', 'Al Pacino', 'James Caan', '...",9.2,100.0,1935895,134.97
2,Ramayana: The Legend of Prince Rama,1993,135,PG,"Animation, Action, Adventure","['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski', 'Ar...","['Yûgô Sakô', 'Koichi Saski', 'Arun Govil', 'N...",9.2,NaN,12470,NaN
3,The Chaos Class,1975,87,NaN,"Comedy, Drama","['Ertem Egilmez', 'Kemal Sunal', 'Münir Özkul'...","['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...",9.2,NaN,42018,NaN
4,Daman,2022,121,NaN,"Adventure, Drama","['Lenka Debiprasad', 'Vishal Mourya', 'Karan K...","['Vishal Mourya', 'Karan Kandhapan', 'Babushan...",9.1,NaN,13372,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9844,Welcome to the Jungle,I) (2013,95,Not Rated,"Action, Adventure, Comedy","['Rob Meltzer', 'Jean-Claude Van Damme', 'Adam...","['Jean-Claude Van Damme', 'Adam Brody', 'Rob H...",4.9,25.0,13770,NaN
9845,Boat Trip,2002,94,R,Comedy,"['Mort Nathan', 'Cuba Gooding Jr.', 'Horatio S...","['Cuba Gooding Jr.', 'Horatio Sanz', 'Roselyn ...",4.9,18.0,31972,8.59
9846,Did You Hear About the Morgans?,2009,103,PG-13,"Comedy, Drama, Romance","['Marc Lawrence', 'Hugh Grant', 'Sarah Jessica...","['Hugh Grant', 'Sarah Jessica Parker', 'Sam El...",4.9,27.0,41830,29.58
9847,The Crow: Salvation,2000,102,R,"Action, Crime, Fantasy","['Bharat Nalluri', 'Kirsten Dunst', 'William A...","['Kirsten Dunst', 'William Atherton', 'Debbie ...",4.9,NaN,11938,NaN
9848,Temptation: Confessions of a Marriage Counselor,2013,111,PG-13,Drama,"['Tyler Perry', 'Jurnee Smollett', 'Vanessa Wi...","['Jurnee Smollett', 'Vanessa Williams', 'Brand...",4.9,26.0,12278,51.98

In [222]:
fc2.dtypes

title           object
year            object
runtime          int64
certificate     object
genre           object
director        object
stars           object
rating         float64
metascore      float64
votes            int64
gross          float64
dtype: object

In [223]:
ss = StandardScaler() #membuat variable standarscaler
sasa = ss.fit_transform(fc2[['runtime']])
sasa

array([[ 1.43606391],
       [ 2.94426234],
       [ 1.11614303],
       ...,
       [-0.34635241],
       [-0.3920554 ],
       [ 0.01927145]])

In [224]:
print("Nilai standar deviasi sebelum scaling : ", np.std(fc2[['runtime']]))
print("\n Nilai Data setelah scaling : ")
print(sasa)
print("Nilai standar deviasi: ", np.std(sasa))

Nilai standar deviasi sebelum scaling :  runtime    21.88041
dtype: float64

 Nilai Data setelah scaling :
[[ 1.43606391]
 [ 2.94426234]
 [ 1.11614303]
 ...
 [-0.34635241]
 [-0.3920554 ]
 [ 0.01927145]]
Nilai standar deviasi:  1.0

## Data Cleaning

Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [225]:
fc2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9849 entries, 0 to 9848
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9849 non-null   object
 1   year         9849 non-null   object
 2   runtime      9849 non-null   int64
 3   certificate  9493 non-null   object
 4   genre        9849 non-null   object
 5   director     9849 non-null   object
 6   stars        9849 non-null   object
 7   rating       9849 non-null   float64
 8   metascore    7876 non-null   float64
 9   votes        9849 non-null   int64
 10  gross        7015 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 846.5+ KB

### pada nilai null

In [226]:
print ('Jumlah record yang memiliki nilai null : ') # melihat nilai null
print (fc2.isnull().sum())

Jumlah record yang memiliki nilai null :
title             0
year              0
runtime           0
certificate     356
genre             0
director          0
stars             0
rating            0
metascore      1973
votes             0
gross          2834
dtype: int64

In [227]:
fc2['metascore'].fillna(fc2['metascore'].median(), inplace = True)
fc2.isna().sum()

title             0
year              0
runtime           0
certificate     356
genre             0
director          0
stars             0
rating            0
metascore         0
votes             0
gross          2834
dtype: int64

In [228]:
fc2['gross'].fillna(fc2['gross'].mean(), inplace = True)
fc2.isna().sum()

title            0
year             0
runtime          0
certificate    356
genre            0
director         0
stars            0
rating           0
metascore        0
votes            0
gross            0
dtype: int64

In [229]:
imputer = SimpleImputer(strategy='most_frequent')
fc2['certificate'] = imputer.fit_transform(fc2[['certificate']])
fc2.isna().sum()

title          0
year           0
runtime        0
certificate    0
genre          0
director       0
stars          0
rating         0
metascore      0
votes          0
gross          0
dtype: int64

Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

### pada niali duplikat

In [230]:
fc2.duplicated().sum() #cek nilai duplikat

0

tidak ada nilai duplikat.

In [231]:
fc2.iloc[3, :] = film.iloc[4, :] #duplikat record
fc2.duplicated().sum()

0

nilai duplikat terdapat pada baris ke 4.

In [232]:
drop = fc2.drop_duplicates() #menghilangkan nilai duplikat
drop.duplicated().sum()

0

## Encoding

Ganti tipe data salah satu attribute angka.

#### ordinal encoding

In [233]:
from sklearn.preprocessing import OrdinalEncoder #import library

In [234]:
fc3 = film.copy()

In [235]:
fc3.dtypes

title           object
year            object
runtime          int64
certificate     object
genre           object
director        object
stars           object
rating         float64
metascore      float64
votes            int64
gross          float64
dtype: object

In [242]:
oe = OrdinalEncoder()
fc3['certificate'] = oe.fit_transform(fc3[['certificate']]) 
fc3

,title,year,runtime,certificate,genre,director,stars,rating,metascore,votes,gross
0,The Shawshank Redemption,1994,142,14.0,Drama,"['Frank Darabont', 'Tim Robbins', 'Morgan Free...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",9.3,82.0,2780534,28.34
1,The Godfather,1972,175,14.0,"Crime, Drama","['Francis Ford Coppola', 'Marlon Brando', 'Al ...","['Marlon Brando', 'Al Pacino', 'James Caan', '...",9.2,100.0,1935895,134.97
2,Ramayana: The Legend of Prince Rama,1993,135,11.0,"Animation, Action, Adventure","['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski', 'Ar...","['Yûgô Sakô', 'Koichi Saski', 'Arun Govil', 'N...",9.2,NaN,12470,NaN
3,The Chaos Class,1975,87,NaN,"Comedy, Drama","['Ertem Egilmez', 'Kemal Sunal', 'Münir Özkul'...","['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...",9.2,NaN,42018,NaN
4,Daman,2022,121,NaN,"Adventure, Drama","['Lenka Debiprasad', 'Vishal Mourya', 'Karan K...","['Vishal Mourya', 'Karan Kandhapan', 'Babushan...",9.1,NaN,13372,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9844,Welcome to the Jungle,I) (2013,95,10.0,"Action, Adventure, Comedy","['Rob Meltzer', 'Jean-Claude Van Damme', 'Adam...","['Jean-Claude Van Damme', 'Adam Brody', 'Rob H...",4.9,25.0,13770,NaN
9845,Boat Trip,2002,94,14.0,Comedy,"['Mort Nathan', 'Cuba Gooding Jr.', 'Horatio S...","['Cuba Gooding Jr.', 'Horatio Sanz', 'Roselyn ...",4.9,18.0,31972,8.59
9846,Did You Hear About the Morgans?,2009,103,12.0,"Comedy, Drama, Romance","['Marc Lawrence', 'Hugh Grant', 'Sarah Jessica...","['Hugh Grant', 'Sarah Jessica Parker', 'Sam El...",4.9,27.0,41830,29.58
9847,The Crow: Salvation,2000,102,14.0,"Action, Crime, Fantasy","['Bharat Nalluri', 'Kirsten Dunst', 'William A...","['Kirsten Dunst', 'William Atherton', 'Debbie ...",4.9,NaN,11938,NaN
9848,Temptation: Confessions of a Marriage Counselor,2013,111,12.0,Drama,"['Tyler Perry', 'Jurnee Smollett', 'Vanessa Wi...","['Jurnee Smollett', 'Vanessa Williams', 'Brand...",4.9,26.0,12278,51.98

### one-hot encoder

In [237]:
from sklearn.preprocessing import OneHotEncoder #import library

In [249]:
oh = pd.get_dummies(fc3[['title']])

fc4 = fc4.join(oh)
fc4

,title,year,runtime,certificate,genre,director,stars,rating,metascore,votes,...,title_[Rec]²,title_eXistenZ,title_iBoy,"title_tick, tick... BOOM!",title_xXx,title_xXx: Return of Xander Cage,title_Æon Flux,title_Çalgi Çengi,title_Çiçek Abbas,title_Çöpçüler Krali
0,The Shawshank Redemption,1994,142,14.0,Drama,"['Frank Darabont', 'Tim Robbins', 'Morgan Free...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",9.3,82.0,2780534,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,14.0,"Crime, Drama","['Francis Ford Coppola', 'Marlon Brando', 'Al ...","['Marlon Brando', 'Al Pacino', 'James Caan', '...",9.2,100.0,1935895,...,0,0,0,0,0,0,0,0,0,0
2,Ramayana: The Legend of Prince Rama,1993,135,11.0,"Animation, Action, Adventure","['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski', 'Ar...","['Yûgô Sakô', 'Koichi Saski', 'Arun Govil', 'N...",9.2,NaN,12470,...,0,0,0,0,0,0,0,0,0,0
3,The Chaos Class,1975,87,NaN,"Comedy, Drama","['Ertem Egilmez', 'Kemal Sunal', 'Münir Özkul'...","['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...",9.2,NaN,42018,...,0,0,0,0,0,0,0,0,0,0
4,Daman,2022,121,NaN,"Adventure, Drama","['Lenka Debiprasad', 'Vishal Mourya', 'Karan K...","['Vishal Mourya', 'Karan Kandhapan', 'Babushan...",9.1,NaN,13372,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9844,Welcome to the Jungle,I) (2013,95,10.0,"Action, Adventure, Comedy","['Rob Meltzer', 'Jean-Claude Van Damme', 'Adam...","['Jean-Claude Van Damme', 'Adam Brody', 'Rob H...",4.9,25.0,13770,...,0,0,0,0,0,0,0,0,0,0
9845,Boat Trip,2002,94,14.0,Comedy,"['Mort Nathan', 'Cuba Gooding Jr.', 'Horatio S...","['Cuba Gooding Jr.', 'Horatio Sanz', 'Roselyn ...",4.9,18.0,31972,...,0,0,0,0,0,0,0,0,0,0
9846,Did You Hear About the Morgans?,2009,103,12.0,"Comedy, Drama, Romance","['Marc Lawrence', 'Hugh Grant', 'Sarah Jessica...","['Hugh Grant', 'Sarah Jessica Parker', 'Sam El...",4.9,27.0,41830,...,0,0,0,0,0,0,0,0,0,0
9847,The Crow: Salvation,2000,102,14.0,"Action, Crime, Fantasy","['Bharat Nalluri', 'Kirsten Dunst', 'William A...","['Kirsten Dunst', 'William Atherton', 'Debbie ...",4.9,NaN,11938,...,0,0,0,0,0,0,0,0,0,0
9848,Temptation: Confessions of a Marriage Counselor,2013,111,12.0,Drama,"['Tyler Perry', 'Jurnee Smollett', 'Vanessa Wi...","['Jurnee Smollett', 'Vanessa Williams', 'Brand...",4.9,26.0,12278,...,0,0,0,0,0,0,0,0,0,0