# POSTTEST 2

## IMDB Top 10,000 Movies

#### Mengimport Pandas & Membaca File CSV

In [2]:
import pandas as pd
film = pd.read_csv('movies.csv')

#### Ketentuan 1 
Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [57]:
film.describe()

           runtime       rating    metascore         votes        gross
count  9849.000000  9849.000000  7876.000000  9.849000e+03  7015.000000
mean    110.578333     6.723342    59.065135  9.083541e+04    40.095802
std      21.881521     0.813738    17.223275  1.668340e+05    66.910694
min      45.000000     4.900000     7.000000  1.000000e+04     0.000000
25%      96.000000     6.100000    47.000000  1.683600e+04     2.340000
50%     106.000000     6.700000    59.500000  3.405200e+04    17.040000
75%     120.000000     7.300000    72.000000  9.051300e+04    48.810000
max     439.000000     9.300000   100.000000  2.780534e+06   936.660000

#### Ketentuan 2 
Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [4]:
film.select_dtypes('int').head(11)

    runtime    votes
0       142  2780534
1       175  1935895
2       135    12470
3        87    42018
4       121    13372
5       152  2758250
6       195  1399258
7        96   825348
8       201  1905920
9       202  1315944
10      147    28884

#### Ketentuan 3 
Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka.

In [59]:
from prettytable import PrettyTable #mengimport prettytable, untuk membuat tampilan table lebih rapi

jr = film.size
ja = len(film.columns)
nm = film.columns
jangka = len(film.select_dtypes('int').columns)

info = {
    "Jumlah Record" : jr,
    "Jumlah Attribute" : ja,
    "Nama Attribute" : nm,
    "Jumlah Attribute bertipe Angka" : jangka
}

table = PrettyTable()
for i in info.keys():
    table.add_column(i, [])
table.add_row([info.get(i, "") for i in info.keys()])
print(table)

+---------------+------------------+---------------------------------------------------------------------------------+--------------------------------+
| Jumlah Record | Jumlah Attribute |                                  Nama Attribute                                 | Jumlah Attribute bertipe Angka |
+---------------+------------------+---------------------------------------------------------------------------------+--------------------------------+
|     108339    |        11        | Index(['title', 'year', 'runtime', 'certificate', 'genre', 'director', 'stars', |               2                |
|               |                  |                        'rating', 'metascore', 'votes', 'gross'],                |                                |
|               |                  |                                    dtype='object')                              |                                |
+---------------+------------------+---------------------------------------------------------------------------------+--------------------------------+

#### Ketentuan 4
Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

##### a) iloc (mengakses data berdasarkan posisi)

In [60]:
film.iloc[9:, 3:] #3 digit nim 010, karena indeks berarti yang menjadi baris adalah 9

,certificate,genre,director,stars,rating,metascore,votes,gross
9,R,"Crime, Drama","['Francis Ford Coppola', 'Al Pacino', 'Robert ...","['Al Pacino', 'Robert De Niro', 'Robert Duvall...",9.0,90.0,1315944,57.30
10,NaN,"Crime, Mystery, Thriller","['Amitabh Reza Chowdhury', 'Chanchal Chowdhury...","['Chanchal Chowdhury', 'Masuma Rahman Nabila',...",9.0,NaN,28884,NaN
11,PG,"Animation, Action, Adventure","['Joaquim Dos Santos', 'Kemp Powers', 'Justin ...","['Kemp Powers', 'Justin K. Thompson', 'Shameik...",8.9,86.0,203042,NaN
12,R,"Crime, Drama","['Quentin Tarantino', 'John Travolta', 'Uma Th...","['John Travolta', 'Uma Thurman', 'Samuel L. Ja...",8.9,95.0,2133402,107.93
13,NaN,"Animation, Action, Fantasy",['Haruo Sotozaki'],[],8.9,NaN,20433,NaN
...,...,...,...,...,...,...,...,...
9844,Not Rated,"Action, Adventure, Comedy","['Rob Meltzer', 'Jean-Claude Van Damme', 'Adam...","['Jean-Claude Van Damme', 'Adam Brody', 'Rob H...",4.9,25.0,13770,NaN
9845,R,Comedy,"['Mort Nathan', 'Cuba Gooding Jr.', 'Horatio S...","['Cuba Gooding Jr.', 'Horatio Sanz', 'Roselyn ...",4.9,18.0,31972,8.59
9846,PG-13,"Comedy, Drama, Romance","['Marc Lawrence', 'Hugh Grant', 'Sarah Jessica...","['Hugh Grant', 'Sarah Jessica Parker', 'Sam El...",4.9,27.0,41830,29.58
9847,R,"Action, Crime, Fantasy","['Bharat Nalluri', 'Kirsten Dunst', 'William A...","['Kirsten Dunst', 'William Atherton', 'Debbie ...",4.9,NaN,11938,NaN
9848,PG-13,Drama,"['Tyler Perry', 'Jurnee Smollett', 'Vanessa Wi...","['Jurnee Smollett', 'Vanessa Williams', 'Brand...",4.9,26.0,12278,51.98

##### b) loc (mengakses data berdasarkan label)

In [61]:
film.loc [9, film.columns [3:]]

certificate                                                    R
genre                                               Crime, Drama
director       ['Francis Ford Coppola', 'Al Pacino', 'Robert ...
stars          ['Al Pacino', 'Robert De Niro', 'Robert Duvall...
rating                                                       9.0
metascore                                                   90.0
votes                                                    1315944
gross                                                       57.3
Name: 9, dtype: object

#### Ketentuan 5
 Tampilkan jumlah nilai dari semua attribute yang bernilai object.

In [62]:
hitung = film.select_dtypes(include = ['object'])

hitung.count()

title          9849
year           9849
certificate    9493
genre          9849
director       9849
stars          9849
dtype: int64